body{
    background-image:url(engin-akyurt-HEMIBJ8QQuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial;
    text-align: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-size: 4em;
}

p{
    color: white;
    font-size: 2em;
    padding: 10px;
}



#message-el{
font-style: italic;
}

#start-btn{
    margin-bottom: 10px;
}

#start-btn,
#new-btn{
    color: #016f32;
    width: 200px;
    background-color: goldenrod;
    padding: 15px;
    font-weight: bolder;
    border: 1px solid goldenrod;
    border-radius: 2px;
}

#start-btn:hover,
#new-btn:hover{
    scale: 1.1;
    cursor: pointer;
}

